

.container-feed {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 5.5rem;

    .image-feed {
        border-radius: 1rem;
        display: block;
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        padding-top: 9rem;
    }
}

.image-wrapper {
    position: relative;
  }
  
  .label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px;
    box-sizing: border-box;

    border-radius: 1rem;
  }